<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- include("./navgations.ejs") %>

  <h1>Welcome To Template Egine Lahore Vehair</h1>
  <h1> <%= id  %> </h1>
  <h1> <% ids=110  %> </h1>
  <h1><%= ids %></h1>
  <%# commint will not presented in  ejs engine that will not present in html render page %>
  <% if(id){ %>
<h1>Welcome Problem is good</h1>
    <%}%>
</body>
</html>